/* app/assets/css/main.css */
@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  
  /* Paleta sakura personalizada */
  --color-sakura-50: #fef2f4;
  --color-sakura-100: #fde6e9;
  --color-sakura-200: #fccdd6;
  --color-sakura-300: #faa3b4;
  --color-sakura-400: #f7708d;
  --color-sakura-500: #ed3f6a;
  --color-sakura-600: #d92054;
  --color-sakura-700: #b71646;
  --color-sakura-800: #991541;
  --color-sakura-900: #82163d;
  --color-sakura-950: #48071e;

  /* Paleta forest personalizada */
  --color-forest-50: #f0fdf4;
  --color-forest-100: #dcfce7;
  --color-forest-200: #bbf7d0;
  --color-forest-300: #86efac;
  --color-forest-400: #4ade80;
  --color-forest-500: #22c55e;
  --color-forest-600: #16a34a;
  --color-forest-700: #15803d;
  --color-forest-800: #166534;
  --color-forest-900: #14532d;
  --color-forest-950: #052e16;

  /* Paleta ocean personalizada */
  --color-ocean-50: #ecfeff;
  --color-ocean-100: #cffafe;
  --color-ocean-200: #a5f3fc;
  --color-ocean-300: #67e8f9;
  --color-ocean-400: #22d3ee;
  --color-ocean-500: #06b6d4;
  --color-ocean-600: #0891b2;
  --color-ocean-700: #0e7490;
  --color-ocean-800: #155e75;
  --color-ocean-900: #164e63;
  --color-ocean-950: #083344;
}
